.food-container {
  width: 500px;
  background-color: var(--color-white);
  margin: 0 auto;
  z-index: 4;
}

.food-header {
  width: 100%;
  height: min(8vh, var(--spacing-6));
  display: flex;
  justify-content: space-between;
}

.header-prev-button {
  border: none;
}

.header-more-buttons {
}

.header-more-buttons {
  width: min(8vw, var(--spacing-xxxl));
  height: min(8vh, var(--spacing-6));
}

.main-swiper {
  overflow: hidden;
  height: min(70vh, 500px);
}
.swiper-slide img {
  z-index: -1;
}

.discount-time {
  line-height: 1.6;
  display: flex;
  justify-content: center;
  background-color: rgb(44, 44, 43);
  font-size: min(3vw, var(--text-sm));
  padding: var(--spacing-sm);
}

.time-title {
  margin: 0 var(--spacing-xs);
  color: var(--color-white);
}

.time-count {
  color: var(--color-yellow);
  font-weight: 700;
}

.main-menu-wrap {
  padding: var(--spacing-md) var(--spacing-base);
}

.main-menu-categori {
  font-size: min(3vw, var(--text-xxs));
  color: var(--color-cement);
  margin-bottom: var(--spacing-xs);
}

.main-menu-title {
  font-size: min(3vw, var(--text-base));
  font-weight: 500;
  margin-bottom: var(--spacing-l);
  color: var(--color-darkblack);
}

.discount-price {
  font-size: min(3vw, var(--text-xxs));
  color: var(--color-cement);
  margin-bottom: var(--spacing-xxs);
  text-decoration: line-through;
}

.selling-price {
  font-size: min(3vw, var(--text-l));
  margin-bottom: var(--spacing-sm);
}

.discount-rate,
.menu-price {
  font-weight: 800;
}

.origin-wrap {
  font-size: min(2vw, var(--text-sxxs));
  color: var(--color-cement);
  margin-bottom: var(--spacing-md);
}

.review-star {
  font-size: min(3vw, var(--text-base));
  color: #ffb123;
  font-weight: 600;
  margin-bottom: var(--spacing-xxs);
}

.review-count {
  text-decoration: underline;
}

.shipping-info-wrap{
  padding: var(--spacing-xl) var(--spacing-base);
  color: var(--color-gray);
  border-top:12px solid #eee;
  font-size: var(--text-xs);
}
.shipping-info-wrap h2{
  font-size: var(--text-sm);
  color: var(--color-darkblack);
  font-weight:600;
  margin-bottom: var(--spacing-sm)
}

.shipping-info-wrap dl{
  font-size: 0;
}
.shipping-info-wrap dt,
.shipping-info-wrap dd{
  display: inline-block;
  font-size: var(--text-xs);
  margin-bottom: var(--spacing-sm);
  line-height: 1.6;
}

.shipping-info-wrap dt{
  width:20%;
  vertical-align: top;
}
.shipping-info-wrap dd{
  width:80%;
}

.shipping-info-wrap dd strong{
  display: block;
  color: var(--color-orange);
}
.shipping-info-wrap [class *= 'icon']{
  font-size:var(--text-xxs);
  padding:0 var(--spacing-sxs);
  line-height:22px;
  display: inline-block;
  border-radius: 4px;
  font-weight:600;
  margin: 0 var(--spacing-sxxs) var(--spacing-sm) 0;
}

.shipping-info-wrap .shipping-fast-icon{
  background-color: rgb(255, 249, 183);
  color: #947b1f;
}

.shipping-icon{
  background: rgb(253, 233, 223);
  color: var(--color-orange)
}

.precautions{
  border-top:1px solid #eee;
  padding: var(--spacing-xl) var(--spacing-base);
  line-height:1.6;
  color:var(--color-orange);
}

.precautions h3{
  font-size: var(--text-sm);
  font-weight:600;
  margin-bottom:var(--spacing-xxs);
  line-height:18px
}

.precautions h3::before{
  content:'';
  display: inline-block;
  background: url(../images/ic-24-customer-info.svg) center/18px;
  width:18px;
  height:18px;
  vertical-align: middle;
  margin-right:var(--spacing-xs)
}

.precautions p{
  font-size: var(--text-xs)
}