.container {
  min-height: 100vh;
  padding-top: 60px;
}

.header {
  padding-top: 0;
  border: 0;
}

.header-prev-button {
  display: inline-block;
  padding: var(--spacing-base);
}

.tab-content {
  width: max(500px, 100%);
}

.tab-content li {
  padding: var(--spacing-base);
  border-top: 1px solid #eee;
}

.tab-content h3 {
  font-size: var(--text-sm);
  color: var(--color-black);
  line-height: 1.6;
}

.tab-content time {
  font-size: var(--text-xxs);
  color: var(--color-gray);
}

.board-content {
  overflow: hidden;
  display: none;
}
