.best-categori-list {
  margin: var(--spacing-base) 0;
}

.best-list {
  display: flex;
  flex-flow: row nowrap;
  overflow: scroll;
}

.best-categori-item {
  width: 100%;
  white-space: nowrap;
  background-color: rgb(245, 245, 245);
  border-radius: var(--spacing-l);
  text-align: center;
  justify-items: center;
  font-size: var(--text-xs);
  margin-left: var(--spacing-l);
  padding: var(--spacing-sm) var(--spacing-md);
}

.best-list .on {
  color: var(--color-white);
  background-color: var(--color-black);
}

.product-title {
  margin-top: 0;
}

.product-img-category {
  padding: 0 var(--spacing-lg);
}

.product-img-category {
  padding: 0 var(--spacing-lg);
}

.product-img-category h3 {
  margin: var(--spacing-xxl) 0 var(--spacing-xs);
  font-size: var(--text-base);
  font-weight: 700;
}

.product-img-category ul {
  display: flex;
  flex-flow: row wrap;
}

.product-img-category li {
  color: var(--color-black);
  font-size: var(--text-sm);
  width: 50%;
  margin: var(--spacing-xs) 0;
}

.product-img-category a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

.product-img-category a::before {
  content: '';
  display: inline-block;
  width: 2.8125rem;
  height: 2.8125rem;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: 2.25rem;
  border-radius: 50%;
  background-position: center;
  margin-right: var(--spacing-xxs);
}

.soup a::before {
  background-image: url(../images/ic-60-category-soup.png);
}

.roast a::before {
  background-image: url(../images/ic-60-category-fried.png);
}

.snackbar a::before {
  background-image: url(../images/ic-60-category-snack-food.png);
}

.rice a::before {
  background-image: url(../images/ic-60-category-rice.png);
}

.instant a::before {
  background-image: url(../images/ic-60-category-mealkit.png);
}

.dessert a::before {
  background-image: url(../images/ic-60-category-dessert.png);
}

.diet a::before {
  background-image: url(../images/ic-60-category-healthy.png);
}

.fresh a::before {
  background-image: url(../images/ic-60-category-fresh.png);
}

.alcohol a::before {
  background-image: url(../images/ic-60-category-traditional-liquor.png);
}

.living a::before {
  background-image: url(../images/ic-60-category-homeliving-221007.png);
}

.best-prd {
  position: relative;
}

.thunder-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/ic-thunder.png) no-repeat center / 18px 24px;
  vertical-align: bottom;
}

.best-prd .swiper {
  padding-bottom: var(--spacing-xxl);
}

.best-prd .swiper .swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.35);
}

.best-prd .product-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  background: var(--color-white);
  overflow: hidden;
  border-radius: 8px;
  margin: var(--spacing-l);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.best-prd .prd-thumb {
  border-radius: 8px 0 0 8px;
  width: 25%;
}

.best-prd .prd-info {
  padding: 0 var(--spacing-sm);
  margin-bottom: 0;
}

.banner-wrap {
  font-size: 0;
  border-radius: 8px;
  overflow: hidden;
  margin-top: var(--spacing-sm);
}

.best-prd .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}
