.best-categori-list {
  margin: var(--spacing-base) 0;
}

.best-categori-list-div {
  overflow: hidden;
  padding: var(--spacing-sxxs) var(--spacing-base);
}

.best-categori-item {
  width: auto;
  white-space: nowrap;
  border: 1px solid #eee;
  border-radius: var(--spacing-l);
  text-align: center;
  justify-items: center;
  font-size: var(--text-xs);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 8%);
}

.best-categori-item button {
  border: 0;
  padding: var(--spacing-sm) var(--spacing-md);
}

.best-list .on {
  border-color: var(--color-black);
  font-weight: 600;
}

.product-title {
  margin-top: 0;
}

.product-img-category::before {
  width: min(500px, 100%);
  translate: -20px;
  position: relative;
  overflow: hidden;
  display: block;
  background-color: rgba(237, 237, 237, 0.6);
  height: 12px;
  content: '';
}

.product-img-category {
  padding: 0 var(--spacing-lg) var(--spacing-6) var(--spacing-lg);
}

.product-img-category h3 {
  margin: var(--spacing-xxl) 0 var(--spacing-xs);
  font-size: var(--text-base);
  font-weight: 700;
}

.product-img-category ul {
  display: flex;
  flex-flow: row wrap;
}

.product-img-category li {
  color: var(--color-black);
  font-size: var(--text-sm);
  width: 50%;
  margin: var(--spacing-xs) 0;
}

.product-img-category a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

.product-img-category a::before {
  content: '';
  display: inline-block;
  width: 2.8125rem;
  height: 2.8125rem;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: 2.25rem;
  border-radius: 50%;
  background-position: center;
  margin-right: var(--spacing-xxs);
}

.best-coupon {
  padding: 0 var(--spacing-base);
}

.best-coupon a {
  margin: 0 var(--spacing-base);
}

.coupon-container {
  position: relative;
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: var(--spacing-lg) var(--spacing-l);
  border-radius: var(--spacing-xs);
  border: 1px solid rgb(185, 185, 185);
  display: flex;
  flex-flow: row nowrap;
}

.coupon-content {
  font-size: min(3vw, var(--text-xs));
  line-height: 1.5;
  padding-left: var(--spacing-base);
}

.coupon-strong {
  font-weight: 600;
}

.coupon-img {
  background: url(/images/best-coupon.svg) no-repeat 0 0;
}

.coupon-arrow {
  width: min(3vw, var(--spacing-lg));
  transform: scaleX(-1);
  position: absolute;
  right: 3%;
  top: 40%;
}

.soup a::before {
  background-image: url(../images/ic-60-category-soup.png);
}

.roast a::before {
  background-image: url(../images/ic-60-category-fried.png);
}

.snackbar a::before {
  background-image: url(../images/ic-60-category-snack-food.png);
}

.rice a::before {
  background-image: url(../images/ic-60-category-rice.png);
}

.instant a::before {
  background-image: url(../images/ic-60-category-mealkit.png);
}

.dessert a::before {
  background-image: url(../images/ic-60-category-dessert.png);
}

.diet a::before {
  background-image: url(../images/ic-60-category-healthy.png);
}

.fresh a::before {
  background-image: url(../images/ic-60-category-fresh.png);
}

.alcohol a::before {
  background-image: url(../images/ic-60-category-traditional-liquor.png);
}

.living a::before {
  background-image: url(../images/ic-60-category-homeliving-221007.png);
}

.best-prd {
  position: relative;
}

.thunder-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/ic-thunder.png) no-repeat center / 18px 24px;
  vertical-align: bottom;
}

.best-prd .swiper {
  padding-bottom: var(--spacing-xxl);
}

.best-prd .swiper .swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.35);
}

.best-prd .product-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  background: var(--color-white);
  overflow: hidden;
  border-radius: 8px;
  margin: var(--spacing-l);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.best-prd .prd-thumb {
  border-radius: 8px 0 0 8px;
  width: 25%;
}

.best-prd .prd-info {
  padding: 0 var(--spacing-sm);
  margin-bottom: 0;
}

.cookat-image {
  position: relative;
}

.cookat-img {
  position: absolute;
  top: -215%;
  left: 3%;
  width: min(5vw, var(--spacing-6));
}

.banner-wrap {
  font-size: 0;
  border-radius: 8px;
  overflow: hidden;
  margin-top: var(--spacing-sm);
}

.best-prd .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

/* 팝업창 */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

#close {
  float: right;
  width: var(--spacing-xl);
  height: var(--spacing-xl);
  margin-right: var(--spacing-l);
  border: none;
  position: absolute;
  right: 0;
  top: var(--spacing-base);
}

#close img {
  max-width: var(--spacing-xl);
  max-height: var(--spacing-xl);
}

.popup {
  position: fixed;
  bottom: -20%;
  left: 50%;
  right: 50%;
  max-height: calc(100vh - 32px - 60px);
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.9);
  border-radius: 20px 20px 0 0;

  display: flex;
  flex-flow: column nowrap;

  /* 임시 지정 */
  width: 500px;
  height: 41%;
}

.pop-container {
  height: var(--spacing-xxl);
}
.pop-container > hr {
  margin: var(--spacing-xxl) var(--spacing-base) var(--spacing-xl)
    var(--spacing-base);
}

.pop-title {
  position: relative;
  text-align: center;
  justify-items: center;
  padding-top: var(--spacing-base);
  padding-bottom: var(--spacing-md);
  font-size: var(--text-md);
  font-weight: 700;
}

.pop-option {
  padding: 0 var(--spacing-base);
}

.pop-option-title {
  color: var(--color-cement);
  font-size: var(--spacing-xm);
}

.pop-option-select {
  font-size: var(--text-md);
  line-height: 1.6;
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-l);
  position: relative;
}

.pop-option-select-list.active {
  display: block;
}

.pop-option-select span {
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #000;
  line-height: 34px;
  width: 100%;
  padding: 0 20px 0 10px;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 3px;
}
.pop-option-select::after {
  display: block;
  content: '';
  clear: both;
  position: absolute;
  right: 10px;
  top: 16px;
  width: 14px;
  height: 14px;
  background: url('../images/ic-16-open-bold.svg') no-repeat 96% 50%;
  z-index: 999;
}

.pop-option-select-list li {
  line-height: 34px;
  border: 1px solid rgb(161, 161, 161);
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
  height: 44px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.pop-count {
  padding: 0 var(--spacing-base);
  display: flex;
  justify-content: space-between;
  font-size: var(--text-md);
  color: var(--color-cement);
  margin: var(--spacing-md) 0;
}
.pop-total-count > span {
  color: var(--color-orange);
  font-weight: 700;
}

.pop-total-price > span {
  color: var(--color-black);
  font-weight: 700;
}

.cart-input {
  position: absolute;
  bottom: 0;
  background-color: orange;
  color: #fff;
  width: 100%;
}

.pop-cart::before {
  content: '';
  background: image();
}

.pop-cart > svg {
  margin-right: 3px;
  height: 100%;
}
.pop-cart {
  background-color: var(--color-orange);
  color: #fff;
  font-size: var(--text-base);
  font-weight: 600;
  line-height: 3.5;
  display: flex;
  justify-content: center;
  text-align: center;
}

.cart-img,
.cart-title {
  padding: 0 var(--spacing-sxs) 0 0;
}

.cart-img {
  padding-top: 2px;
}
