.bargain-banner {
  position: relative;
}

.bargain-date {
  font-size: min(1rem, 3vw);
  display: flex;
  justify-content: center;
  line-height: var(--text-base);
  padding: 0 var(--spacing-lg);
  position: absolute;
  bottom: 28%;
  left: 0;
  right: 0;
  z-index: 100;
}

.bargain-date span {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--spacing-l);
  color: #faecce;
  line-height: var(--spacing-l);
  padding: 0.37rem var(--spacing-l);
}

.bargain-wrap {
  padding: 0 var(--spacing-lg);
  margin-top: -44px;
}

.bargain-menu-box::after {
  content: '';
  display: block;
  width: 100%;
  height: 12px;
  background: #f3f3f3;
}

.bargain-sale-container {
  position: relative;
  width: 100%;
  margin-bottom: 3.125rem;
}

.bargain-sale-container h2 {
  margin-left: var(--spacing-xs);
}

.bargain-menu-list {
  padding: 0 var(--spacing-lg) var(--spacing-xs);
}

.bargain-food-link {
  position: relative;
}

.bargain-food-link img {
  border-radius: var(--spacing-sm);
}

.bargain-food-count {
  background-color: #ff5833;
  color: white;
  display: block;
  width: 100%;
  height: 1.75rem;
  font-size: min(3vw, var(--text-xxs));
  font-weight: 500;
  padding: var(--spacing-xs) 0 0 var(--spacing-xm);
  border-bottom-right-radius: var(--spacing-sm);
  border-bottom-left-radius: var(--spacing-sm);
  position: absolute;
  top: -10%;
}

.bargain-food-count em {
  font-weight: 700;
}

.bargain-menu-text {
  padding-top: var(--spacing-xs);
}

.bargain-content1 {
  font-size: min(4.5vw, var(--text-lg));
  font-weight: 700;
  line-height: 1.875rem;
  max-height: 1vh;
}

.bargain-content2 {
  display: block;
  font-size: min(4vw, var(--text-md));
  margin: 0 0 var(--spacing-xs);
  font-weight: 400;
  line-height: var(--text-base);
  max-height: 1.2vh;
}

.bargain-content3 {
  font-size: min(4vw, var(--text-sm));
  font-weight: 500;
  line-height: var(--text-xxs);
  opacity: 0.5;
}

.bargain-food-price em {
  color: #ff5833;
  font-size: min(4vw, var(--text-lg));
  font-weight: 700;
  margin-right: var(--spacing-xxs);
}

.bargain-food-price {
  font-size: min(4vw, var(--text-lg));
  font-weight: 700;
}

.bargain-graph {
  margin-top: 14px;
  border-radius: 8px;
  border: 1px solid #ededed;
  overflow: hidden;
  margin-bottom: 48px;
}

.bargain-graph-title {
  padding: 16px 18px;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: min(3.5vw, 0.875rem);
  cursor: pointer;
}

.bargain-graph-content {
  margin: 0 auto;
}

.bargain-graph-title img {
  vertical-align: baseline;
  width: var(--spacing-base);
  max-width: 3vw;
}

.bargain-graph-wrap {
  max-width: 380px;
  margin: var(--spacing-xl) auto var(--spacing-xxl) auto;
  padding-top: var(--spacing-l);
  padding-left: var(--spacing-base);
  padding-right: var(--spacing-base);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bargain-bar {
  width: var(--spacing-xs);
  height: 46px;
  flex: 1 1 0;
  text-align: center;
  position: relative;
  max-width: 20px;
}

.bar-box {
  width: 100%;
  background: #ededed;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.bargain-bar-date {
  display: inline-block;
  color: #bbb8b5;
  font-size: min(1vw, var(--text-sxxs));
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  word-break: keep-all;
}

.today .bar-box {
  background: rgba(255, 121, 92, 0.8);
}

.bargain-graph .tooltip {
  display: inline-block;
  font-size: min(1vw, var(--text-xs));
  color: #fff;
  line-height: 18px;
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  background: #181716;
  padding: min(1vh, var(--spacing-sxxs)) min(1vh, var(--spacing-xxs));
  border-radius: 5px;
}

.bargain-graph .tooltip::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background-color: #181716;
}

/* 할인 베스트  */
.prd-thumb {
  position: relative;
}

.sale {
  border-radius: var(--spacing-xxs);
  background-color: #ff5833;
  position: absolute;
  font-size: min(3vw, var(--text-xs));
  z-index: 1;
  top: var(--spacing-xs);
  left: var(--spacing-xs);
  color: #ffffff;
  display: inline-block;
  padding: var(--spacing-sxxs) var(--spacing-xxs);
  line-height: 1.1;
  font-weight: 600;
}
