.tab-list{
  border-bottom: 1px solid #eee;
  padding-top:2px;
  position: relative;
}

.tabBtn{
  display: block;
  position: absolute;
  top:0;
  width: calc(50% - var(--spacing-base));
  border:0;
  padding: var(--spacing-base) 0;
  font-size: var(--text-base);
  color: var(--color-black);
  font-weight:300;
}

.gird4 .tabBtn{
  width: calc(25% - var(--spacing-base) - var(--spacing-base));
  font-size:var(--text-sm);
  margin:0 var(--spacing-base);
}

.gird4 li:nth-child(2) .tabBtn{
  left:25%
}
.gird4 li:nth-child(3) .tabBtn{
  right:25%
}

.active .tabBtn{
  color: var(--color-orange);
  font-weight:600;
  padding-bottom:0;
}
.active .tabBtn::after{
  content:"";
  display: block;
  border-top: var(--spacing-sxxs) solid var(--color-orange);
  margin: var(--spacing-base) auto -1px;
}

.tab-list li:first-child .tabBtn{
  left:0;
  margin-left:var(--spacing-base);
}

.tab-list li:last-child .tabBtn{
  right:0;
  margin-right:var(--spacing-base);
}

.tab-content{
  display: none;
  width: min(500px, 100%);
  padding-top:49px;
}

.active .tab-content{
  display:block
}