html,
body {
  height: 100%;
  box-sizing: border-box;
}

.delivery-container {
  max-width: var(--max-width);
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}

.delivery-header {
  top: 0;
  width: min(var(--max-width), 100%);
  background-color: var(--color-white);
  border-bottom: 1px solid #eee;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  font-size: 18px;
  font-weight: bold;
}

.delivery-header button {
  position: absolute;
  right: 10px;
  border: none;
}

.delivery {
  padding: 5px 15px;
  background-color: #fff;
}

.label-title {
  font-size: 13px;
  font-weight: bold;
  color: #46433f;
  display: block;
  line-height: 1.31;
  margin-bottom: 10px;
}

.delivery-label {
  padding-top: 26px;
}

.input-box {
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  display: inline-block;
  height: 43px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  color: #46433f;
  letter-spacing: 0.5px;
  padding: 0 12px;
  border-radius: 4px;
}

.input-box::placeholder {
  color: #9d999d;
}

.input-box:focus {
  outline: 1px solid #46433f;
}

.phone-number-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  margin-bottom: 20px;
}

/* 폰 넘버 select */
.phone-number-wrapper {
  height: 44px;
  position: relative;
  border-radius: 4px;
  text-align: left;
  width: 31.57%;
  display: inline-block;
}
.phone-number-wrapper span {
  cursor: pointer;
  color: #000;
  line-height: 34px;
  height: 44px;
  width: 100%;
  padding: 0 20px 0 10px;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.phone_select_icon {
  display: block;
  content: '';
  clear: both;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 14px;
  height: 14px;
  background: url('/images/ic-16-open-bold.svg') no-repeat 96% 50%;
  z-index: 999;
}
.phone_select_icon.selected-number {
  border-top: none;
  width: 14px;
  height: 14px;
  background: url('/images/ic-16-close-bold.svg') no-repeat 96% 50%;
}
.phone-first-number {
  width: 100%;
  position: absolute;
  display: none;
  top: 42px;
  z-index: 999;
}
.phone-first-number.selected-number {
  display: block;
}
.phone-first-number li {
  line-height: 34px;
  border: 1px solid #000;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
  height: 44px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
  background-color: #fff;
}

.phone-first-number li:last-child {
  border-bottom: 1px solid #000;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.phone-first-number li + li {
  border-top: none;
}

.phone-number-input {
  width: 31.57%;
  display: inline-block;
  height: 44px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  color: #46433f;
  letter-spacing: 0.5px;
  padding: 0 12px;
  border-radius: 4px;
}

#phone-last-number {
  margin-right: 0px;
}

.phone-number-input:focus {
  outline: 1px solid #46433f;
}

.find-address {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

#zone-code-address {
  background-color: #ededed;
  width: calc(100% - 111px);
  height: 43px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  color: #46433f;
  letter-spacing: 0.5px;
  padding: 0 12px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.find-address button {
  border: 1px solid #ff5833;
  border-radius: 4px;
  color: #ff5833;
  font-size: 14px;
  line-height: 43px;
  height: 43px;
  padding: 0 22px;
  text-align: center;
  font-weight: bold;
}

.find-address-box input {
  margin-bottom: 12px;
}

.find-address-box input:nth-child(3) {
  margin-bottom: 4px;
}

.find-address-box span {
  color: #579bdb;
  font-size: 12px;
  padding: 0 0 24px 0;
  display: block;
}

.delivery-message-label {
  margin-top: 50px;
}

#delivery-message {
  width: 100%;
  display: inline-block;
  height: 43px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  color: #46433f;
  letter-spacing: 0.5px;
  padding: 0 12px;
  border-radius: 4px;
}

#delivery-message:focus {
  outline: 1px solid #46433f;
}

.check-list {
  margin-top: 16px;
  margin-bottom: 20px;
  padding: 18px 16px;
  background-color: rgba(255, 88, 51, 0.05);
  font-size: 13px;
  line-height: 20px;
  border-radius: 4px;
  color: #ff5833;
}

.check-list strong {
  font-weight: bolder;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.check-list li {
  position: relative;
  display: block;
  margin-bottom: 5px;
  padding-left: 8px;
}

.check-list li::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  display: block;
  width: 2px;
  height: 2px;
  background-color: #ff5833;
  border-radius: 50%;
}

/* select 및 option 디자인 */
.delivery-message-box {
  margin: 0 auto;
  width: 100%;
  margin-top: 15px;
  position: relative;
  text-align: left;
}
.delivery-message-box span {
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #000;
  line-height: 34px;
  width: 100%;
  padding: 0 20px 0 10px;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.select_icon {
  display: block;
  content: '';
  clear: both;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 14px;
  height: 14px;
  background: url('/images/ic-16-open-bold.svg') no-repeat 96% 50%;
  z-index: 999;
}
.select_icon.active {
  border-top: none;
  width: 14px;
  height: 14px;
  background: url('/images/ic-16-close-bold.svg') no-repeat 96% 50%;
}
.delivery-message {
  width: 100%;
  position: absolute;
  display: none;
  top: 42px;
  z-index: 999;
}
.delivery-message.active {
  display: block;
}
.delivery-message li {
  line-height: 34px;
  border: 1px solid #000;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
  height: 44px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.delivery-message li:last-child {
  border-bottom: 1px solid #000;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.delivery-message li + li {
  border-top: none;
}
