body {
  position: relative;
}

.search-container {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 502px;
  margin: 0 auto;
  background: #fff;
  height: 100vh;
  z-index: 999999;
}

.search-header {
  width: 100%;
  padding: 9px 0;
  position: relative;
}

.search-close-btn {
  position: absolute;
  top: 0px;
  left: 5px;
  width: 38px;
  height: 60px;
  background: url('/images/ic-24-arrow-perv.svg') no-repeat;
  background-position: center;
  background-size: 24px;
  border: none;
}

.search-input-box {
  position: relative;
  margin: 0 14px 0 46px;
  background: #f9f9f9;
  border-radius: 22px;
  height: 42px;
  padding: 7px 11px 7px 16px;
  font-size: 0;
}

.search-input {
  height: 28px;
  border: none;
  background-color: transparent;
  background: transparent;
  width: calc(100% - 28px);
  vertical-align: top;
  font-size: 14px;
  opacity: 0.6;
}

.search-input:focus {
  outline: none;
}

.erase-btn {
  background: #e0e0e0
    url(https://crcf.cookatmarket.com/assets/mobile/img/using_guide/ic-24-close-bold-white.svg)
    no-repeat center/10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  border: none;
  display: none;
}

.search-btn {
  width: 28px;
  height: 28px;
  background: url('/images/ic-24-finder-small.svg') no-repeat center;
  border: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.search-language-box {
  height: 512px;
  transform: translate(0px, 7px);
  display: block;
  position: absolute;
  top: 60px;
  z-index: 10;
  height: calc(100% - 60px);
  overflow-y: auto;
}

.search-language {
  margin-top: 32px;
  padding: 0 18px;
  margin-bottom: 31px;
}

.search-language-title {
  margin-bottom: 5px;
  color: #46433f;
  font-size: 16px;
  font-weight: bold;
}

.search-language-buttons {
  position: relative;
}

.search-language-buttons button {
  color: #46433f;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  background-color: #ffffff;
  height: 34px;
  line-height: 22px;
  padding: 0 13px;
  margin-right: 12px;
  margin-top: 12px;
}
