main {
  padding: 0 18px;
}

.event-ing {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--spacing-xxl);
  margin-bottom: var(--spacing-md);
}

.event-ing-title {
  font-size: var(--text-xl);
  line-height: var(--text-xxl);
  color: var(--color-black);
  font-weight: 700;
}

.event-ing p {
  color: #ff5833;
  font-size: var(--text-sm);
}
.event-ing p::after {
  content: '';
  color: #ff5833;
  margin-left: var(--spacing-xxs);
  padding-left: var(--spacing-md);
  background: url('https://crcf.cookatmarket.com/assets/mobile/img/using_guide/ic-16-next-orange-fit.svg')
    no-repeat 6px;
}

.item-list {
}

.item-list-item {
}

.item-list-item img {
  border-radius: 10px;
}

.item-list-title {
  font-size: var(--text-lg);
  line-height: var(--text-xxl);
  font-weight: 700;
  margin-bottom: var(--spacing-xxxl);
}

.title-first {
  margin-bottom: 0;
}

.item-list-title h2:first-child {
  margin-bottom: 0;
}

.coupon-day {
  margin-top: var(--spacing-xxs);
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: var(--spacing-xxxl);
}

.icon-coupon {
  width: 53px;
  height: 19px;
  background: url(../images/ic-event-sale-coupon-orange.svg) no-repeat center;
  display: inline-block;
  text-align: center;
}

.coupon-date {
  color: #ff5833;
  line-height: var(--text-xl);
  font-size: var(--text-xs);
  align-items: center;
  font-weight: 700;
  padding-left: var(--spacing-sm);
}

@media (max-width: 500px) {
  .item-list-title {
    font-size: 4vw;
    line-height: 3vh;
  }
}
