main{
  padding: 0 18px;
}
.event{

}

.event-ing{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.event-ing-title{
  font-size: var(--text-xl);
}

.item-list{

}

.item-list-item{

}

.item-list-item img{
  border-radius: 10px;
}

.item-list-title{

}







