@import url(./normalize.css);
@import url(./reset.css);
@import url(./theme.css);

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  font-size: 1rem;
  color: #191919;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  background: #eee;
}

/* 이미지크기 */
img {
  max-width: 100%;
  height: auto;
}

.white * {
  color: var(--color-white);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto 3.437rem auto;
  background: #fff;
}

/* 헤더 */
.header {
  position: relative;
  padding: var(--spacing-m) 0 0;
  margin-bottom: -1px;
}

.logo {
  display: inline-block;
  padding: 0 var(--spacing-m);
}

.menu {
  margin: var(--spacing-m) 0 0 5px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  font-size: var(--text-sm);
}

.menu li {
  float: left;
}

.menu li:nth-child(2) {
  color: var(--main-color);
}

.menu .active {
  font-weight: 600;
}

.menu .active::after {
  content: '';
  display: block;
  width: calc(100% - 20px);
  border-top: var(--spacing-sxxs) solid var(--color-deep-orange);
  margin: 0 auto;
}
.menu a {
  display: block;
  line-height: var(--spacing-xxl);
  padding: 0 var(--spacing-sm);
}

.menu a:focus {
  outline-offset: -2px;
}

.search {
  position: absolute;
  right: 0;
  top: 0;
  padding: var(--spacing-m);
  font-size: 2em;
  background: none;
  border: 0;
}

/* 메인배너 */

.visual .text-wrap {
  position: absolute;
  left: 3.125rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-black);
}

.visual .text-wrap p {
  font-size: var(--text-base);
  line-height: 1.6;
  margin-bottom: var(--spacing-l);
  font-weight: 500;
}

.visual .text-wrap h2 {
  font-size: var(--text-xxl);
  line-height: 1.2;
  margin-bottom: var(--spacing-l);
  font-weight: 700;
}

.visual .text-wrap span {
  font-size: var(--text-sm);
  font-weight: 200;
}

.visual .swiper-slide {
  font-size: 0;
}

.visual .swiper-button-next,
.visual .swiper-button-prev {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  padding: var(--spacing-l) var(--spacing-xm);
  width: auto;
  height: auto;
  transform: translateY(-50%);
  display: none;
}
.visual:hover .swiper-button-next,
.visual:hover .swiper-button-prev {
  display: block;
}

.visual .swiper-button-next i,
.visual .swiper-button-prev i {
  font-size: var(--text-sm);
}

.visual .swiper-button-next {
  right: 0;
}

.visual .swiper-button-prev {
  left: 0;
}

.visual .swiper-pagination-fraction {
  left: auto;
  right: 0;
  bottom: 0;
  width: auto;
  padding: 0.31rem var(--spacing-xs);
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  font-size: var(--text-xxs);
}

/* 이미지형 카테고리 */

.img-menu-bar {
  padding: var(--spacing-sm) 0;
  border-bottom: 1px solid #eee;
}

.img-menu-bar .swiper {
  padding: 0 10px;
}

.img-menu-bar .img-wrap {
  margin-top: 5px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

li:nth-child(1) .img-wrap {
  background-image: url(../images/cone_1670197609_1248.png);
}

li:nth-child(2) .img-wrap {
  background-image: url(../images/mego_1670837921_8955.png);
}

li:nth-child(3) .img-wrap {
  background-image: url(../images/cone_1670197609_1248.png);
}

li:nth-child(4) .img-wrap {
  background-image: url(../images/fave_1660854487_5770.png);
}

li:nth-child(5) .img-wrap {
  background-image: url(../images/cuno_1660854530_1620.png);
}

li:nth-child(6) .img-wrap {
  background-image: url(../images/lawu_1660854619_3559.png);
}

.img-menu-bar span {
  display: block;
  padding-top: 110px;
  text-align: center;
  margin-bottom: var(--spacing-sm);
  font-size: var(--text-xs);
}

/* 오른쪽 고정 배너 */
.fixed-advertise-container {
  position: fixed;
  width: 270px;
  height: 374px;
  top: 30%;
  left: 50%;
  transform: translate(300px, 0px);
}

.cookat-deliver-link img {
  height: 270px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* 앱 QR 코드(선영) */
.qr-info {
  width: 270px;
  height: 65px;
  left: 0;
  right: 0;
  bottom: 0px;
  position: absolute;
}

.qr-code {
  width: 62px;
  height: 62px;
  margin-right: var(--spacing-base);
}

.qr-text {
  width: 117px;
  height: 60px;
}

/* 런칭 특가(선영) */
.launching-sale-container {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.launching-menu-list {
  padding: 0 var(--spacing-lg) var(--spacing-xs);
}

.launching-food {
  min-height: 559px;
}

.launching-food-link {
  position: relative;
}

.launching-food-link img {
  border-radius: 10px;
}

.launching-food-count {
  background-color: #ff5833;
  color: white;
  display: block;
  width: 452px;
  height: 28px;
  font-size: var(--text-xxs);
  font-weight: 500;
  padding: var(--spacing-xs) 0 0 var(--spacing-xm);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  bottom: 106px;
}

.launching-food-count em {
  font-weight: 700;
}

.launching-menu-text {
  height: 107px;
  padding-top: var(--spacing-sm);
}

.launching-content1 {
  font-size: var(--text-lg);
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 var(--spacing-sxxs);
}

.launching-content2 {
  display: block;
  font-size: var(--text-md);
  margin: 0 0 7px;
  font-weight: 500;
  line-height: 17px;
}

.launching-content3 {
  font-size: var(--text-sm);
  font-weight: 500;
  line-height: 13px;
  opacity: 0.5;
}

.launching-food-price em {
  color: #ff5833;
  font-size: 18px;
  font-weight: 700;
  margin-right: 4px;
}

.launching-food-price {
  font-size: var(--text-lg);
  font-weight: 700;
}

.all-view {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--spacing-lg) var(--spacing-lg) 0 0;
  font-size: var(--text-sm);
}

.all-view img {
  vertical-align: middle;
  margin-left: var(--spacing-xxs);
}

/* 상품영역 */

.prd-list {
  position: relative;
  padding: 0 var(--spacing-sm);
  color: var(--color-black);
}

.prd-list li {
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: top;
}

.prd-list li:focus {
  outline-offset: 2px;
}

.product-title {
  font-size: var(--text-xl);
  font-weight: 700;
  margin: var(--spacing-xxl) 0 var(--spacing-xxs);
  padding: 0 var(--spacing-sm);
}

.prd-sub-text {
  color: #999;
  margin-bottom: var(--spacing-md);
  line-height: 1.4;
  padding: 0 var(--spacing-sm);
  font-size: var(--text-sm);
}

.prd-thumb {
  position: relative;
}

.prd-thumb a {
  display: block;
  font-size: 0;
}

.prd-thumb img {
  border-radius: 8px;
}

.prd-info {
  margin: var(--spacing-xm) 0;
  line-height: 1;
  font-size: 0;
}

.prd-info h2 {
  font-size: var(--text-sm);
  line-height: 1.2;
  margin-bottom: var(--spacing-sxxs);
}

.prd-info p,
.prd-info em {
  display: inline-block;
  font-weight: 700;
  font-size: var(--text-base);
  letter-spacing: -0.5px;
  margin-right: var(--spacing-xxs);
}

.prd-info .custom {
  font-size: var(--text-sm);
  font-weight: 300;
  color: #999;
  text-decoration: line-through;
  line-height: 1.4;
}

.prd-info .custom.block {
  display: block;
}

.prd-info .custom.in-block {
  display: inline-block;
}

.discount-rate {
  color: var(--color-deep-orange);
}

.cart-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
  border: 0;
  padding: 10px;
  font-size: 0;
}

.more {
  position: absolute;
  padding: var(--spacing-sm);
  font-size: var(--text-sm);
  font-weight: 400;
  right: 5px;
  top: -7px;
}

.more::after {
  content: '';
  margin-left: var(--spacing-xxs);
  padding-left: var(--spacing-md);
  background: url(../images/ic-16-next-fit.svg) no-repeat center/6px;
}

/* .prd-more {
} */

/* 영상장보기 */
.market {
  width: 100%;
  position: relative;
  background-color: #fff;
  max-height: 400px;
  margin: 0;
  margin-bottom: var(--spacing-lg);
}

.market-title{
  padding: 0 20px;
}

.video-slide {
  aspect-ratio: 1/1.57;     
}

.video-slide a {
  display: block;
  height: 100%;
}

.video-slide img {
  object-fit: cover;
  border-radius: 7px;
  height: 100%;
}

.videoSwiper:last-child {
  margin: 0;
}

.video-slide::after {
  width: 188px;
  background-image: url(/images/shadow-tv.png);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 146px 63px;
  position: absolute;
  border-radius: 7px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 2;
}

.img-content {
  position: absolute;
  font-size: 12px;
  padding: 0 20px 0 15px;
  color: #fff;
  bottom: 11px;
  text-align: left;
  font-weight: 500;
  z-index: 4;
}

.market-plus {
  display: block;
  width: 61px;
  line-height: 26px;
  position: absolute;
  top: 23px;
  right: 18px;
  font-size: 14px;
  color: #46433f;
}

.market-plus::after {
  content: '';
  margin-left: var(--spacing-xxs);
  padding-left: var(--spacing-md);
  background: url(../images/ic-16-next-fit.svg) no-repeat center/6px;
}

/* 슬라이드 광고배너 (윤호)*/
.slide {
  width: 100%;
  margin-bottom: 30px;
  
}
.market .autoSwiper {
  display: block;
  position: relative;
}

.slide-banner {
  margin: 0 18px;
  border-radius: 10px;
}

.slide-wrapper {
  width: 40.5%;
  height: 100%;
  
}

.slide-img {
  margin-bottom: var(--spacing-lg);
}

.slide-img img {
  overflow: hidden;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* 스와이프 점 */
.slide .swiper-pagination {
  size: 1px;
  position: absolute;
  display: block;
  text-align: left;
  margin-left: var(--spacing-l);
  bottom: var(--spacing-xl);
  color: #191919;

  z-index: 100;
}

/* 선택된 점 */
.swiper .swiper-pagination-bullet {
  background-color: rgb(237, 237, 237);
  width: clamp(2%, 7px);
  height: clamp(2%, 7px);
  margin: 0 3px;
}

/*@@@@@@@@@ 슬로건 @@@@@@@@@@@@@@@ */
.slogan {
  display: block;
  margin: 20px 0;
}



/* 슬라이드 상품 */

.slide-prd {
  padding: 20px 0;
}

.slide-prd .swiper {
  padding: 0 10px;
}

.slide-prd .product-title {
  padding: 0 20px;
}

/* 타임세일 */

.time-prd .product-title::before {
  content: '';
  display: inline-block;
  background: url(../images/ic-16-clock-orange-full.svg) no-repeat center;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

/* 상품 진열 단수 */
[class*='grid'] {
  display: grid;
  grid-template-rows: auto;
  gap: var(--spacing-md);
  margin: var(--spacing-sm) var(--spacing-xs);
}

.grid1 {
  grid-template-columns: 1fr;
}

.grid2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  grid-template-columns: repeat(3, 1fr);
}

/* 하단 고정 메뉴*/

.fix-footer-menu {
  width: 100%;
  max-width: 500px;
  background: var(--color-white);
  border-top: 1px solid var(--color-border);
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.fix-footer-menu ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  text-align: center;
  font-size: var(--text-sxxs);
}

.fix-footer-menu a {
  display: block;
  padding: var(--spacing-xl) 0 var(--spacing-sm);
  background-repeat: no-repeat;
  background-position: center 8px;
  background-size: 20px;
}

.fix-footer-menu .on a,
.fix-footer-menu a:hover {
  color: var(--color-deep-orange);
}

.my-home a {
  background-image: url(../images/ic-24-home.svg);
}

.my-home.on a,
.my-home a:hover {
  background-image: url(../images/ic-orange-home.svg);
}

.my-video a {
  background-image: url(../images/ic-black-tabbar-tv-new.svg);
}

.my-video.on a,
.my-video a:hover {
  background-image: url(../images/ic-orange-tabbar-tv-new.svg);
}

.my-menu a {
  background-image: url(../images/ic-black-category.svg);
}

.my-menu.on a,
.my-menu a:hover {
  background-image: url(../images/ic-orange-category-new.svg);
}

.my-cart a {
  background-image: url(../images/ic-black-cart.svg);
}

.my-cart.on a,
.my-cart a:hover {
  background-image: url(../images/ic-orange-cart.svg);
}

.my-cookat a {
  background-image: url(../images/ic-24-mycookat-black.svg);
}

.my-cookat.on a,
.my-cookat a:hover {
  background-image: url(../images/ic-orange-mycookat.svg);
}
.footer {
  margin: 0 auto;
  color: #46433f;
  font-size: 12px;
  font-weight: 300px;
  margin-top: 100px;
}
a {
  text-decoration: none;
}
/* 버튼 스타일 제거 */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

.footer {
  margin-top: 0;
}

/* h2 폰트 사이즈 스타일 */
.footer h2 {
  font-size: 13px;
}
.center-info {
  font-weight: 600;
}

/* 푸터 상단 스타일 */
.center-info-container {
  padding: 16px;
  position: relative;
  line-height: 16px;
}

.business-info-toggle-btn {
  border: none;
}
.business-info-toggle-btn img {
  border: none;
}

.center-contact {
  color: #46433f;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 16px;
  width: 83px;
  padding: 10px 13px 10px 26px;
  transform: translateY(-50%);
  border: 1px solid #bbb8b5;
  border-radius: 3px;
  background: url(https://crcf.cookatmarket.com/assets/mobile/img/using_guide/ic-call-black.svg)
    no-repeat;
  background-position: 16% 50%;
}

/* 푸터 중단 스타일 */
.business-info-container {
  padding: 16px;
  background-color: #f9f9f9;
}
.business-info-title-container {
  padding: 12px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bbb8b5;
  position: relative;
}

.business-info-list {
  margin-top: 12px;
  line-height: 2.3em;
}
.business-info-item label {
  color: #bbb8b5;
  margin-right: 7px;
}
.business-info-item address {
  display: inline-block;
}
.business-info-check {
  color: red;
  margin-left: 5px;
}
.business-info {
  font-weight: 600;
}
.center-info-flexcontent-container {
  display: flex;
}
.center-info-content-container {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  line-height: 1.5em;
  padding-top: 2px;
}
.center-info-content-container a {
  font-weight: bold;
  text-decoration: underline;
  color: #5b5752;
}

.copyright {
  color: #bbb8b5;
  margin-top: 12px;
  font-size: 13px;
  display: inline-block;
}

.more-details-list {
  display: flex;
  margin-top: 16px;
}
.more-details-list li {
  margin-right: 5px;
  font-size: 13px;
  padding: 0 10px;
}

.more-details {
  color: #8e8e8e;
}
#qkdcla {
  border-left: 1px solid #8e8e8e;
  border-right: 1px solid #8e8e8e;
  color: #46433f;
  padding: 0 15px;
}

.additional-container {
  align-items: center;
  text-align: center;
  padding: 25px 0;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 60px;
}
.additional-container a {
  border: none;
  font-size: 14px;
  display: inline-block;
  width: 49%;
  color: #46433f;
}

#app-down {
  border-left: 1px solid #8e8e8e;
}

@media (min-width: 320px) {
}
